<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link id="link1" rel="stylesheet" href="/files/static/app/raw/kapa65568/server/kpo576455zz545/main.css">
  <link id="link1" rel="stylesheet" href="/files/static/app/raw/kapa65568/server/kpo576455zz545/nav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">

  <title>My Blog</title>
</head>

<body>

  <div class=" container-nav">
    <div class="logo">ACE<span>HACK</span>BLOGS</div>


    <ul class="nav-list" style="list-style: none; padding: 0;">
      </li>
      <li><a href="/" style="text-decoration: none; color: #fff;">Home</a>
      </li>

      <li><a href="/blog" style="text-decoration: none; color: #fff;">Blog</a></li>
      <li><a href="/login" style="text-decoration: none; color: #fff;">Login
        </a></li>



    </ul>
    <div class="nav-menu" id="nav-menu" onclick="responsive()">
      <img class="" src="/files/static/app/raw/kapa65568/server/kpo576455zz545/images/menu.png" alt="">
    </div>



  </div>
  <div id="responsive-menu">
    <ul class="responsive-menu">
      <li><a href="/" style="text-decoration: none; color: #fff;">Home</a>
      </li>


      <li><a href="/blog" style="text-decoration: none; color: #fff;">Blog</a></li>
      <li><a href="/Login" style="text-decoration: none; color: #fff;">Login</a></li>




    </ul>
  </div>

  {{{body}}}


  <script>
    //responsive menu handling 
    var x = window.matchMedia("(max-width: 850px)");

    function responsive() {

      const elem = document.getElementById("responsive-menu");

      if (elem.style.display == "block") {
        elem.style.display = "none";
        return
      }

      elem.style.display = "block";
    }

    var x = window.matchMedia("(max-width: 850px)")
    x.addEventListener("change", function () {
      document.getElementById("responsive-menu").style.display = "none";
    });


  </script>


</body>


</html>