<main style="padding:50px ">
  <div class="post" style="margin-bottom: 30px;  ">
    <div style="margin-top: 0; font-size:40px; font-family: 'Georgia', sans-serif;font-weight:350;"> {{this.title}}
    </div>
    <pre style=" font-size:18px; font-family: 'Arial', sans; white-space:pre-wrap;"> {{this.content}} </pre>
  </div>




</main>