<div
    style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 20px; margin-right: 10%;margin-left: 10%; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <form action="/user/create/post" method="post" style="">
        <div style="padding:50px;">
            <div style="margin-bottom: 3px;">
                <input type="text" name="title" placeholder="Title" style=" width:100%;padding: 5px; font-size: 40px; 
                    font-family: 'Georgia', sans-serif;border:none;outline:none;font-weight:300;">
            </div>
            <div style="margin-bottom: 10px;">
                <input type="text" name="slug" required="true"
                    placeholder="please choose description wisely this will help your story to reach as far as possible."
                    style="width:100%; padding: 10px; font-size: 13px; font-family: 'Arial', sans-serif;border:none;outline:none; font-style:italic">
            </div>
            <div style="margin-bottom: 20px;">
                <textarea name="content" placeholder="Enter your story..." style="width:100%; padding: 10px; font-size: 16px; border:none;font-size:20px;
                    font-family: 'Arial', sans-serif;outline:none;" cols="30" rows="10"></textarea>
            </div>
            <div style="text-align: center;">
                <input type="submit" value="Submit"
                    style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            </div>


        </div>

    </form>
</div>