*{
    padding:0;
    margin:0;
    color:white;
    font-family: "Open Sans";
    
}
body{
  background-color: rgb(49, 46, 46);
}
:root{
  --dark-color:rgb(61, 58, 58);
  --dark-2:rgb(35, 33, 33);

}
.thumbnail{
    width:100%;
    
    
    height:12rem;
    overflow: hidden;
    transition: all 0.4s ;
    
    
}
.thumbnail img{
    display: block;
    width:100%;
    height:100%;
    
    
    object-fit: cover;
    object-position: center;
}
.card-content{
    padding:0rem 1.5rem 1.5rem 1.5rem;
    border:none;
    
    
    

}
.card{
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
    border-radius:0.5rem;
    background-color: rgb(54, 52, 52);
    overflow: hidden;
    margin:1rem 1rem;
}

.header.blog-heading{
    font-weight: bold;
    font-size:1.5rem;
    

}
.author{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    display: flex;
    gap: 0.5rem;
    opacity: 0.9;
    padding-top:1rem;
    align-items: center;
    
}
.author img{
    width:1.5rem;
    border-radius: 50%;
    aspect-ratio: 9/9;
    
    
}
.card-description{
    font-size:0.8rem;
    margin-top:0.5rem;
    color:#aaa;
}
.card-footer{
    margin-top:1.25rem;
    color:blue;
    display:flex;
    gap:0.5rem;
    height:1.25rem;
    
}
.card-footer img{
    height:100%;
    
}
.card-footer:nth-child(n):hover{
    cursor: pointer;

}
.container{
    display:grid;
    gap: 0.5rem;
    padding: 2rem;
    background-color: var(--dark-2);
    
    grid-template-columns:repeat(auto-fit,minmax(350px,0.9fr)) ;
}
#editor-choice{
  background-color: var(--dark-2);
  border:none;
  margin:-2px;
}



.thumbnail:hover{
    transform: scale(1.03);
    cursor: pointer;
    
}



/* 
this is the profileCard 
*/
/* .profile-card{
    padding:2rem 5rem 2rem 5rem;
    display:grid;
    
    
    grid-template-columns: repeat(auto-fill,minmax(340px,0.5fr));
}
#tochange{
    display:block;
    aspect-ratio: 1/1;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height:100%;
    object-fit: cover;
    object-position: center;
    
    border-radius: 50%;
}
.tochange{
    background:grey;

} */

.mega-container{
  display:flex;
   background: var(--dark-2);
  
  

}
.mega-container #whenresponsive{
  display:none;
}
.profile-card{
  display:block;
  width:15rem;
  background-color:var(--dark-color) ;
  
  
  padding:1rem 1.5rem 1rem 1.5rem;
  flex-shrink:1;
  
  
  
  
  
}


@media (max-width: 700px) {
  .unresponsive{
    
    display:none;
  }
  .profile-card{
    width:2rem;
    padding:0.5rem 1rem 0.5rem 1rem;

  }
  .mega-container #whenresponsive{
  
  
  
  display:inherit;
  
}

  
}

@keyframes slider {
  from{
    width:2rem;
    opacity:0;
    
  }
  to{
    width:10rem;
    opacity:1;
  }

  
}

.profile-card img{
  width:100%;
  height:100%;
  aspect-ratio: 1/1;
  border-radius:50%;
  display: block;
}
.profile-card span{
  display:block;
  font-weight: 700;
  margin:2rem 0rem 2rem 0rem;
}
.grid-container-2{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:1rem;
  padding:0;
 
}
.con{
  display:block;
  flex:1;
}







/* l */
.nell.card-content{
  padding:0;
  border-style:solid;
  border-color:#aca6a6;
  border-width: 0.02em 0 0.02em 0;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  
}
.main-footer{
  display:flex;
  justify-content: space-around;
  align-items: center;
  gap:2rem;
  padding-top:4rem;
  padding-bottom:4rem;
  background-color: rgb(30, 30, 30);
  
  position:sticky;
  z-index: 2;
  
  
 
  
  
}
.main-footer-box{
  
  padding:2rem;
  border-radius:0.3rem;
  
}
.main-footer-box ul{
  list-style-type: none;
  
}